.card-img-top {
    border-radius: 50px;
    padding: 20px;
}

.card {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
}

.btn-prymary{
    border-radius: 50px;
    width: 120px;
}

.btn-prymary:hover{
    background-color: black;
}

.row{
    padding-right: 15px;
}

.card-text{
    text-align: left;
}